@tailwind base;
h1 {
    @apply text-2xl;
}
h2 {
    @apply text-xl;
}
h3 {
    @apply text-lg;
}

@tailwind components;
@tailwind utilities;

@layer components {
    .no-spinner {
        /* Ẩn các mũi tên điều chỉnh trên các trình duyệt khác nhau */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            @apply appearance-none;
            margin: 0;
        }

        & {
            @apply appearance-none;
            -moz-appearance: textfield;
        }
    }
}
.ck-editor__editable_inline:not(.ck-comment__input *) {
    min-height: 400px;
    overflow-y: auto;
}

.ck.ck-content ul,
.ck.ck-content ul li {
    list-style-type: inherit;
}
.ck.ck-content ol,
.ck.ck-content ol li {
    list-style-type: decimal;
}
.ck.ck-content ul,
.ck.ck-content ol {
    /* Default user agent stylesheet, you can change it to your needs. */
    padding-left: 40px;
}

.ck-content .image.image-style-align-left {
    margin-right: 0 !important;
}
.ck-content .image.image-style-align-right {
    margin-left: 0 !important;
}

.ck-content .image {
    margin-top: 0 !important;
}

blockquote {
    padding: 0 60px;
    padding: 10px;
    padding-left: 55px;
}

blockquote:before {
    display: block;
    font-size: 250%;
    content: open-quote;
    opacity: 0.5;
    height: 1px;
    margin-left: -0.55em;
    position: relative;
    top: -20px;
}

html {
    scrollbar-width: thin;
}

/* Date picker */
.react-datepicker-wrapper {
    width: 100%;
}

/* Apex chart tooltip */
.apexcharts-tooltip-title {
    /* background: #000;
    color: #fff; */
}
